@import "wal-colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Adwaita Mono;
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.72);
  color: @foreground;
  min-height: 24px;
}

tooltip {
  background-color: @background;
  color: @foreground;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 0 4px;
  padding: 0 6px;
  color: @foreground;
}

#workspaces button {
  background: transparent;
  color: @foreground;
  padding: 0 6px;
}

#workspaces button.active {
  background-color: @color4;
  color: @background;
}

#workspaces button.focused {
  background-color: @color4;
  color: @background;
  font-weight: bold;
  opacity: 1;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
}

#mpris {
  padding: 0 2px;
  font-weight: 500;
  color: @foreground;
}

